package configs

import (
	"os"
)

func SetEnviron() {
	os.Setenv("PRODUCTION_IP_LIST", "")
	os.Setenv("PRODUCTION_HOST", "")
	os.Setenv("FRONT_HOST", "localhost")
	os.Setenv("FRONT_PORT", "3000")
	os.Setenv("SSL_CHAIN_PATH", "")
	os.Setenv("SSL_KEY_PATH", "")

	// mysql
	os.Setenv("MYSQL_USER", "")
	os.Setenv("MYSQL_PASSWORD", "")
	os.Setenv("MYSQL_DB", "")
	//os.Setenv("MYSQL_HOST", "")

	// firebase
	os.Setenv("FIREBASE_API_KEY", "")
	os.Setenv("SAMPLE_EMAIL", "")
	os.Setenv("SAMPLE_PASS", "")

	// smtp
	os.Setenv("EMAIL_HOST", "")
	os.Setenv("EMAIL_HOST_USER", "")
	os.Setenv("EMAIL_HOST_PASS", "")
	os.Setenv("FROM_EMAIL", "")
	os.Setenv("EMAIL_PORT", "")

	// s3
	os.Setenv("S3_ACCESS_KEY_ID", "")
	os.Setenv("S3_SECRET_KEY", "")
	os.Setenv("BUCKET", "")

	// cloud storage
	os.Setenv("FIREBASE_STORAGE", "")

	// admin user list (string)
	os.Setenv("ADMIN_USERS", "")
}
