package configs

import (
	"os"
)

const (
	ProductionIpList = ""
	ProductionHost   = ""
	FrontHost        = "localhost"
	FrontPort        = ":3000"
	SslChainPath     = ""
	SslKeyPath       = ""

	// mysql
	MysqlUser       = "go"
	MysqlPassword   = "Go1234_test"
	MysqlDataBase   = "go_test"
	MysqlHost       = "@tcp(127.0.0.1:3306)"
	MysqlBackupFile = ""

	// firebase
	FirebaseApiKey = ""
	ProjectId      = ""
	//ProjectId      = ""

	// smtp
	EmailHost     = ""
	EmailHostUser = ""
	EmailHostPass = ""
	EmailFromMail = ""
	EmailPort     = ""

	// s3
	S3AccessKeyId = ""
	S3SecretKey   = ""
	Bucket        = ""

	// admin
	AdminUsers = ""

	// log
	LogDirectory      = ""
	ErrorLogDirectory = ""

	SlackChannelId = ""
	SlackBotToken  = ""

	SlackBotTokenForNotification = ""
)
